@charset "utf-8";
/* CSS Document */
.business-sec {
  text-align: center;
}
.business-sec h2 {
  display: inline-block;
  font-size: 2vw;
  transform: skewX(-10deg);
  margin-top: 80px;
}
@media (max-width: 600px) {
  .business-sec h2 {
    font-size: 20px;
  transform: skewX(-10deg);
  margin-top: 50px;
  
}
}
@media (max-width: 281px) {
  .business-sec h2 {
    font-size: 15px;   
}
}
.business-cnt-01 {
  text-align: center;
  position: relative;
  background-image: url("../img/common/bg_hexagon.png");
  width: 100%;
  background-position: center center; /*  x,y*/
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 1880/484;
  padding: 100px 0;
}
@media (max-width: 600px) {
.business-cnt-01 {
  padding: 50px 0;
}  
}
.business-cnt-01 .business-sec-img, .business-cnt-02 .business-sec-img, .business-cnt-03 .business-sec-img {
  position: relative;
  display: flex;
}

@media (max-width: 810px) {
.business-cnt-01 .business-sec-img, .business-cnt-02 .business-sec-img, .business-cnt-03 .business-sec-img {
  padding: 0 2em;

}
}
@media (max-width: 600px) {
.business-cnt-01 .business-sec-img, .business-cnt-02 .business-sec-img, .business-cnt-03 .business-sec-img {
  padding: 0 ;

}
}  

.business-cnt-01 .ttl-01 {
  width: 50%;
  height: 100%;
  transform: translateX(-300px);
}
@media (max-width: 1120px) {
.business-cnt-01 .ttl-01 {
  transform: translateX(-350px);
}
}
@media (max-width: 600px) {
 .business-cnt-01 .ttl-01 {
  transform: translateX(-170px);
}
} 
 @media (max-width: 281px) {
   .business-cnt-01 .ttl-01 {
  transform: translateX(-100px);
} 
   
}
.business-cnt-02 .ttl-02 {
  width: 50%;
  height: 100%;
  transform: translateX(-300px);
}
@media (max-width: 1120px) {
 .business-cnt-02 .ttl-02 {
  transform: translateX(-350px);
} 
}
@media (max-width: 600px) {
  .business-cnt-02 .ttl-02 {
  transform: translateX(-170px);
} 
} 
 @media (max-width: 281px) {
   .business-cnt-02 .ttl-02 {
  transform: translateX(-120px);
}   
   
}
  
.business-cnt-03 .ttl-03 {
  width: 50%;
  height: 100%;
  transform: translateX(-300px);
}
@media (max-width: 1120px) {
 .business-cnt-03 .ttl-03 {
  transform: translateX(-350px);
}
}
@media (max-width: 600px) {
 .business-cnt-03 .ttl-03 {
  transform: translateX(-170px);
}
}
 @media (max-width: 281px) {
   .business-cnt-03 .ttl-03 {
  transform: translateX(-130px);
}   
   
}
.business-cnt-01 .img-01 {}
.business-cnt-01 .img-02 {}
.business-cnt-01 .img-03 {}
.business-cnt-02 .business-sec-lead, .business-cnt-03 .business-sec-lead {}
.business-cnt-02 {
  position: relative;
  width: 100%;
  padding: 100px 0 200px;
  text-align: center;
  background-color: #fbf6f4;
  background-image: url(../img/common/bg_hexagon.png);
  background-repeat: no-repeat;
  background-position: center 20%;
  background-size: contain;
  aspect-ratio: 1880/484;
}
.business-cnt-03 {
  text-align: center;
  position: relative;
  background-image: url("../img/common/bg_hexagon.png");
  width: 100%;
  background-position: center 20%;
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 1880/484;
  padding: 100px 0 150px;
}
.img-s {
  padding-top: 80px;
}
@media (max-width: 810px) {
 .img-s {
  padding: 1em;
   margin-top: 50px!important;
}  
}
.business-cnt-01 .desc,.business-cnt-02 .desc ,.business-cnt-03 .desc  {
  text-align: left;
  padding-top: 50px;
}
 @media (max-width: 281px) {
   .business-cnt-01 .desc,.business-cnt-02 .desc ,.business-cnt-03 .desc {
     padding: 50px 0 0;
   }  
}
.skew-cnt {
  position: relative;
}
.skew-in {
  position: absolute;
  bottom: 50px;
  left: -5%;
  /*  transform: skewX(-10deg);*/
}
@media (max-width: 1120px) {
.skew-in {
  left: 5%;  
  }
}
@media (max-width: 600px) {
  .skew-in {
    bottom: 0;
}
}
.skew-txt {
  display: inline-block;
  font-size: 1.7vw;
  text-align: left;
  font-weight: bold;
  line-height: 1.2;
  font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "serif";
  transform: skewX(-10deg);
}
@media (max-width: 1120px) {
  .skew-txt {
  font-size: 2.7vw;
  }
  
}
@media (max-width: 600px) {
  .skew-txt {
  font-size: 15px;
  }
}
 @media (max-width: 281px) {
  .skew-txt {
  font-size: 13px;
  }
}

