@charset "utf-8";
/* CSS Document */

html {
  font-size: 62.5%;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
}
body a:hover {
  opacity: 0.7;
}
body div {
  line-height: 1;
}
body *, body ::after, body ::before {
  box-sizing: border-box;
}
body p {
  line-height: 1.6;
}
body button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

body .wrapper {
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 767.98px) {
  body .wrapper {
    max-width: 90%;
  }
}
@media (min-width: 768px) {
  body .wrapper {
    max-width: 870px;
  }
}

body .flex {
  display: flex;
}
body .flex.wrap {
  flex-wrap: wrap;
}
body .flex.justify-between {
  justify-content: space-between;
}
body .w-50 {
  width: 50%;
}
body .relative {
  position: relative;
}
body .absolute {
  position: absolute;
}
body .inline-block {
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 767.98px) {
  body br.sp {
    display: block;
  }
}
@media (min-width: 768px) {
  body br.sp {
    display: none;
  }
}
@media (max-width: 767.98px) {
  body br.pc {
    display: none;
  }
}
@media (min-width: 768px) {
  body br.pc {
    display: block;
  }
}

body .flex {
  display: flex;
}
body .inline-flex {
  display: inline-flex;
}
body .flex.wrap, body .inline-flex.wrap {
  flex-wrap: wrap;
}
body .flex.flex-end, body .inline-flex.flex-end {
  justify-content: flex-end;
}
body .flex.flex-center, body .inline-flex.flex-center {
  justify-content: center;
}
body .flex.space-around, body .inline-flex.space-around {
  justify-content: space-around;
}
body .flex.space-between, body .inline-flex.space-between {
  justify-content: space-between;
}
body .flex.align-start, body .inline-flex.align-start {
  align-items: flex-start;
}
body .flex.align-end, body .inline-flex.align-end {
  align-items: flex-end;
}
body .flex.align-center, body .inline-flex.align-center {
  align-items: center;
}
body .flex.align-baseline, body .inline-flex.align-baseline {
  align-items: baseline;
}
@media (min-width: 768px) {
  body .flex.wrap-p, body .inline-flex.wrap-p {
    flex-wrap: wrap;
  }
  body .flex.flex-end-p, body .inline-flex.flex-end-p {
    justify-content: flex-end;
  }
  body .flex.flex-center-p, body .inline-flex.flex-center-p {
    justify-content: center;
  }
  body .flex.space-around-p, body .inline-flex.space-around-p {
    justify-content: space-around;
  }
  body .flex.space-between-p, body .inline-flex.space-between-p {
    justify-content: space-between;
  }
  body .flex.align-start-p, body .inline-flex.align-start-p {
    align-items: flex-start;
  }
  body .flex.align-end-p, body .inline-flex.align-end-p {
    align-items: flex-end;
  }
  body .flex.align-center-p, body .inline-flex.align-center-p {
    align-items: center;
  }
  body .flex.align-center-p, body .inline-flex.align-center-p {
    align-items: baseline;
  }
}
body ul.flex, body ul.inline-flex, body dl.flex, body dl.inline-flex {
  list-style: none;
  padding: 0;
}
body ul.flex > li, body ul.flex > dt, body ul.flex > dd, body ul.inline-flex > li, body ul.inline-flex > dt, body ul.inline-flex > dd, body dl.flex > li, body dl.flex > dt, body dl.flex > dd, body dl.inline-flex > li, body dl.inline-flex > dt, body dl.inline-flex > dd {
  margin: 0;
}

body .w-100 {
  width: 100%;
}
body .col-2 {
  width: calc(100% / 2);
}
body .col-3 {
  width: calc(100% / 3);
}
body .col-4 {
  width: calc(100% / 4);
}
body .col-5 {
  width: calc(100% / 5);
}
body .col-2-flex {
  width: calc((100% - 2.5%) / 2);
}
body .col-3-flex {
  width: calc((100% - 5%) / 3);
}
body .col-4-flex {
  width: calc((100% - 7.5%) / 4);
}
body .col-5-flex {
  width: calc((100% - 10%) / 5);
}
@media (max-width: 767.98px) {
  body .w-100-s {
    width: 100%;
  }
  body .col-2-s {
    width: calc(100% / 2);
  }
  body .col-3-s {
    width: calc(100% / 3);
  }
  body .col-4-s {
    width: calc(100% / 4);
  }

  body .col-5-s {
    width: calc(100% / 5);
  }
  body .col-2-flex-s {
    width: calc((100% - 2.5%) / 2);
  }
  body .col-3-flex-s {
    width: calc((100% - 5%) / 3);
  }
  body .col-4-flex-s {
    width: calc((100% - 7.5%) / 4);
  }
  body .col-5-flex-s {
    width: calc((100% - 10%) / 5);
  }
}
@media (min-width: 768px) {
  body .w-100-p {
    width: 100%;
  }
  body .col-2-p {
    width: calc(100% / 2);
  }
  body .col-3-p {
    width: calc(100% / 3);
  }
  body .col-4-p {
    width: calc(100% / 4);
  }
  body .col-5-p {
    width: calc(100% / 5);
  }
  body .col-2-flex-p {
    width: calc((100% - 2.5%) / 2);
  }
  body .col-3-flex-p {
    width: calc((100% - 5%) / 3);
  }
  body .col-4-flex-p {
    width: calc((100% - 7.5%) / 4);
  }
  body .col-5-flex-p {
    width: calc((100% - 10%) / 5);
  }
}

body .m-0 {
  margin: 0 !important;
}
body .m-s {
  margin: 0.5rem !important;
}
body .m-m {
  margin: 1rem !important;
}
body .m-l {
  margin: 2rem !important;
}
body .m-xl {
  margin: 3rem !important;
}
body .mt-s {
  margin-top: 0.5rem !important;
}
body .mt-m {
  margin-top: 1rem !important;
}
body .mt-l {
  margin-top: 2rem !important;
}
body .mt-xl {
  margin-top: 3rem !important;
}
body .mb-s {
  margin-bottom: 0.5rem !important;
}
body .mb-m {
  margin-bottom: 1rem !important;
}
body .mb-l {
  margin-bottom: 2rem !important;
}
body .mb-xl {
  margin-bottom: 3rem !important;
}
body .ml-s {
  margin-left: 0.5rem !important;
}
body .ml-m {
  margin-left: 1rem !important;
}
body .ml-l {
  margin-left: 2rem !important;
}
body .ml-xl {
  margin-left: 3rem !important;
}
body .mr-s {
  margin-right: 0.5rem !important;
}
body .mr-m {
  margin-right: 1rem !important;
}
body .mr-l {
  margin-right: 2rem !important;
}
body .mr-xl {
  margin-right: 3rem !important;
}
body .mx-s {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}
body .mx-m {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}
body .mx-l {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}
body .mx-xl {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}
body .my-s {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}
body .my-m {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
body .my-l {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}
body .my-xl {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}
body .p-0 {
  padding: 0 !important;
}
body .p-s {
  padding: 0.5rem !important;
}
body .p-m {
  padding: 1rem !important;
}
body .p-l {
  padding: 2rem !important;
}
body .p-xl {
  padding: 3rem !important;
}
body .pt-s {
  padding-top: 0.5rem !important;
}
body .pt-m {
  padding-top: 1rem !important;
}
body .pt-l {
  padding-top: 2rem !important;
}
body .pt-xl {
  padding-top: 3rem !important;
}
body .pb-s {
  padding-bottom: 0.5rem !important;
}
body .pb-m {
  padding-bottom: 1rem !important;
}
body .pb-l {
  padding-bottom: 2rem !important;
}
body .pb-xl {
  padding-bottom: 3rem !important;
}
body .pl-s {
  padding-left: 0.5rem !important;
}
body .pl-m {
  padding-left: 1rem !important;
}
body .pl-l {
  padding-left: 2rem !important;
}
body .pl-xl {
  padding-left: 3rem !important;
}
body .pr-s {
  padding-right: 0.5rem !important;
}
body .pr-m {
  padding-right: 1rem !important;
}
body .pr-l {
  padding-right: 2rem !important;
}
body .pr-xl {
  padding-right: 3rem !important;
}
body .px-s {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}
body .px-m {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
body .px-l {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
body .px-xl {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}
body .py-s {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}
body .py-m {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
body .py-l {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}
body .py-xl {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
@media (min-width: 768px) {
  body .m-0 {
    margin: 0 !important;
  }
  body .m-s {
    margin: 0.5rem !important;
  }
  body .m-m {
    margin: 1rem !important;
  }
  body .m-l {
    margin: 2rem !important;
  }
  body .m-xl {
    margin: 3rem !important;
  }
  body .mt-s {
    margin-top: 0.5rem !important;
  }
  body .mt-m {
    margin-top: 1rem !important;
  }
  body .mt-l {
    margin-top: 2rem !important;
  }
  body .mt-xl {
    margin-top: 3rem !important;
  }
  body .mb-s {
    margin-bottom: 0.5rem !important;
  }
  body .mb-m {
    margin-bottom: 1rem !important;
  }
  body .mb-l {
    margin-bottom: 2rem !important;
  }
  body .mb-xl {
    margin-bottom: 3rem !important;
  }
  body .ml-s {
    margin-left: 0.5rem !important;
  }
  body .ml-m {
    margin-left: 1rem !important;
  }
  body .ml-l {
    margin-left: 2rem !important;
  }
  body .ml-xl {
    margin-left: 3rem !important;
  }
  body .mr-s {
    margin-right: 0.5rem !important;
  }
  body .mr-m {
    margin-right: 1rem !important;
  }
  body .mr-l {
    margin-right: 2rem !important;
  }
  body .mr-xl {
    margin-right: 3rem !important;
  }
  body .mx-s {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
  }
  body .mx-m {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
  body .mx-l {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }
  body .mx-xl {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }
  body .my-s {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
  body .my-m {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  body .my-l {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }
  body .my-xl {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
  body .p-0 {
    padding: 0 !important;
  }
  body .p-s {
    padding: 0.5rem !important;
  }
  body .p-m {
    padding: 1rem !important;
  }
  body .p-l {
    padding: 2rem !important;
  }
  body .p-xl {
    padding: 3rem !important;
  }
  body .pt-s {
    padding-top: 0.5rem !important;
  }
  body .pt-m {
    padding-top: 1rem !important;
  }
  body .pt-l {
    padding-top: 2rem !important;
  }
  body .pt-xl {
    padding-top: 3rem !important;
  }
  body .pb-s {
    padding-bottom: 0.5rem !important;
  }
  body .pb-m {
    padding-bottom: 1rem !important;
  }
  body .pb-l {
    padding-bottom: 2rem !important;
  }
  body .pb-xl {
    padding-bottom: 3rem !important;
  }
  body .pl-s {
    padding-left: 0.5rem !important;
  }
  body .pl-m {
    padding-left: 1rem !important;
  }
  body .pl-l {
    padding-left: 2rem !important;
  }
  body .pl-xl {
    padding-left: 3rem !important;
  }
  body .pr-s {
    padding-right: 0.5rem !important;
  }
  body .pr-m {
    padding-right: 1rem !important;
  }
  body .pr-l {
    padding-right: 2rem !important;
  }
  body .pr-xl {
    padding-right: 3rem !important;
  }
  body .px-s {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
  body .px-m {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  body .px-l {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  body .px-xl {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
  body .py-s {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }
  body .py-m {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  body .py-l {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
  body .py-xl {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

body .t-center {
  text-align: center !important;
}
body .t-left {
  text-align: left !important;
}
body .t-right {
  text-align: right !important;
}
@media (min-width: 768px) {
  body .t-center-p {
    text-align: center !important;
  }
  body .t-left-p {
    text-align: left !important;
  }
  body .t-right-p {
    text-align: right !important;
  }
}
body .font-weight-bold {
  font-weight: bold;
}
body .font-weight-normal {
  font-weight: normal;
}
body .underline {
  text-decoration: underline;
}
body .underline-none {
  text-decoration: none;
}
body .t-xs {
  font-size: 1rem;
}
body .t-s {
  font-size: 1.6rem;
}
body .t-m {
  font-size: 2rem;
}
body .t-l {
  font-size: 2.5rem;
}
body .t-xl {
  font-size: 3rem;
}
@media (min-width: 768px) {
  body .t-xs {
    font-size: 1.6rem;
  }
  body .t-s {
    font-size: 2rem;
  }
  body .t-m {
    font-size: 2.5rem;
  }
  body .t-l {
    font-size: 3rem;
  }
  body .t-xl {
    font-size: 4rem;
  }
}
