@charset "UTF-8";
html {
  font-size: 62.5%;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
}
body a:hover {
  opacity: 0.7;
}
body div {
  line-height: 1;
}
body *, body ::after, body ::before {
  box-sizing: border-box;
}
body p {
  line-height: 1.6;
}
body button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

body .wrapper {
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 767.98px) {
  body .wrapper {
    max-width: 90%;
  }
}
@media (min-width: 768px) {
  body .wrapper {
    max-width: 870px;
  }
}

body .flex {
  display: flex;
}
body .flex.wrap {
  flex-wrap: wrap;
}
body .flex.justify-between {
  justify-content: space-between;
}
body .w-50 {
  width: 50%;
}
body .relative {
  position: relative;
}
body .absolute {
  position: absolute;
}
body .inline-block {
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 767.98px) {
  body br.sp {
    display: block;
  }
}
@media (min-width: 768px) {
  body br.sp {
    display: none;
  }
}
@media (max-width: 767.98px) {
  body br.pc {
    display: none;
  }
}
@media (min-width: 768px) {
  body br.pc {
    display: block;
  }
}

body .flex {
  display: flex;
}
body .inline-flex {
  display: inline-flex;
}
body .flex.wrap, body .inline-flex.wrap {
  flex-wrap: wrap;
}
body .flex.flex-end, body .inline-flex.flex-end {
  justify-content: flex-end;
}
body .flex.flex-center, body .inline-flex.flex-center {
  justify-content: center;
}
body .flex.space-around, body .inline-flex.space-around {
  justify-content: space-around;
}
body .flex.space-between, body .inline-flex.space-between {
  justify-content: space-between;
}
body .flex.align-start, body .inline-flex.align-start {
  align-items: flex-start;
}
body .flex.align-end, body .inline-flex.align-end {
  align-items: flex-end;
}
body .flex.align-center, body .inline-flex.align-center {
  align-items: center;
}
body .flex.align-baseline, body .inline-flex.align-baseline {
  align-items: baseline;
}
@media (min-width: 768px) {
  body .flex.wrap-p, body .inline-flex.wrap-p {
    flex-wrap: wrap;
  }
  body .flex.flex-end-p, body .inline-flex.flex-end-p {
    justify-content: flex-end;
  }
  body .flex.flex-center-p, body .inline-flex.flex-center-p {
    justify-content: center;
  }
  body .flex.space-around-p, body .inline-flex.space-around-p {
    justify-content: space-around;
  }
  body .flex.space-between-p, body .inline-flex.space-between-p {
    justify-content: space-between;
  }
  body .flex.align-start-p, body .inline-flex.align-start-p {
    align-items: flex-start;
  }
  body .flex.align-end-p, body .inline-flex.align-end-p {
    align-items: flex-end;
  }
  body .flex.align-center-p, body .inline-flex.align-center-p {
    align-items: center;
  }
  body .flex.align-center-p, body .inline-flex.align-center-p {
    align-items: baseline;
  }
}
body ul.flex, body ul.inline-flex, body dl.flex, body dl.inline-flex {
  list-style: none;
  padding: 0;
}
body ul.flex > li, body ul.flex > dt, body ul.flex > dd, body ul.inline-flex > li, body ul.inline-flex > dt, body ul.inline-flex > dd, body dl.flex > li, body dl.flex > dt, body dl.flex > dd, body dl.inline-flex > li, body dl.inline-flex > dt, body dl.inline-flex > dd {
  margin: 0;
}

body .w-100 {
  width: 100%;
}
body .col-2 {
  width: 50%;
}
body .col-3 {
  width: 33.3333333333%;
}
body .col-4 {
  width: 25%;
}
body .col-5 {
  width: 20%;
}
body .col-2-flex {
  width: 48.75%;
}
body .col-3-flex {
  width: 31.6666666667%;
}
body .col-4-flex {
  width: 23.125%;
}
body .col-5-flex {
  width: 18%;
}
@media (max-width: 767.98px) {
  body .w-100-s {
    width: 100%;
  }
  body .col-2-s {
    width: 50%;
  }
  body .col-3-s {
    width: 33.3333333333%;
  }
  body .col-4-s {
    width: 25%;
  }
  body .col-5-s {
    width: 20%;
  }
  body .col-2-flex-s {
    width: 48.75%;
  }
  body .col-3-flex-s {
    width: 31.6666666667%;
  }
  body .col-4-flex-s {
    width: 23.125%;
  }
  body .col-5-flex-s {
    width: 18%;
  }
}
@media (min-width: 768px) {
  body .w-100-p {
    width: 100%;
  }
  body .col-2-p {
    width: 50%;
  }
  body .col-3-p {
    width: 33.3333333333%;
  }
  body .col-4-p {
    width: 25%;
  }
  body .col-5-p {
    width: 20%;
  }
  body .col-2-flex-p {
    width: 48.75%;
  }
  body .col-3-flex-p {
    width: 31.6666666667%;
  }
  body .col-4-flex-p {
    width: 23.125%;
  }
  body .col-5-flex-p {
    width: 18%;
  }
}

body .m-0 {
  margin: 0 !important;
}
body .m-s {
  margin: 0.5rem !important;
}
body .m-m {
  margin: 1rem !important;
}
body .m-l {
  margin: 2rem !important;
}
body .m-xl {
  margin: 3rem !important;
}
body .mt-s {
  margin-top: 0.5rem !important;
}
body .mt-m {
  margin-top: 1rem !important;
}
body .mt-l {
  margin-top: 2rem !important;
}
body .mt-xl {
  margin-top: 3rem !important;
}
body .mb-s {
  margin-bottom: 0.5rem !important;
}
body .mb-m {
  margin-bottom: 1rem !important;
}
body .mb-l {
  margin-bottom: 2rem !important;
}
body .mb-xl {
  margin-bottom: 3rem !important;
}
body .ml-s {
  margin-left: 0.5rem !important;
}
body .ml-m {
  margin-left: 1rem !important;
}
body .ml-l {
  margin-left: 2rem !important;
}
body .ml-xl {
  margin-left: 3rem !important;
}
body .mr-s {
  margin-right: 0.5rem !important;
}
body .mr-m {
  margin-right: 1rem !important;
}
body .mr-l {
  margin-right: 2rem !important;
}
body .mr-xl {
  margin-right: 3rem !important;
}
body .mx-s {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}
body .mx-m {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}
body .mx-l {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}
body .mx-xl {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}
body .my-s {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}
body .my-m {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
body .my-l {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}
body .my-xl {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}
body .p-0 {
  padding: 0 !important;
}
body .p-s {
  padding: 0.5rem !important;
}
body .p-m {
  padding: 1rem !important;
}
body .p-l {
  padding: 2rem !important;
}
body .p-xl {
  padding: 3rem !important;
}
body .pt-s {
  padding-top: 0.5rem !important;
}
body .pt-m {
  padding-top: 1rem !important;
}
body .pt-l {
  padding-top: 2rem !important;
}
body .pt-xl {
  padding-top: 3rem !important;
}
body .pb-s {
  padding-bottom: 0.5rem !important;
}
body .pb-m {
  padding-bottom: 1rem !important;
}
body .pb-l {
  padding-bottom: 2rem !important;
}
body .pb-xl {
  padding-bottom: 3rem !important;
}
body .pl-s {
  padding-left: 0.5rem !important;
}
body .pl-m {
  padding-left: 1rem !important;
}
body .pl-l {
  padding-left: 2rem !important;
}
body .pl-xl {
  padding-left: 3rem !important;
}
body .pr-s {
  padding-right: 0.5rem !important;
}
body .pr-m {
  padding-right: 1rem !important;
}
body .pr-l {
  padding-right: 2rem !important;
}
body .pr-xl {
  padding-right: 3rem !important;
}
body .px-s {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}
body .px-m {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
body .px-l {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
body .px-xl {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}
body .py-s {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}
body .py-m {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
body .py-l {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}
body .py-xl {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
@media (min-width: 768px) {
  body .m-0 {
    margin: 0 !important;
  }
  body .m-s {
    margin: 0.5rem !important;
  }
  body .m-m {
    margin: 1rem !important;
  }
  body .m-l {
    margin: 2rem !important;
  }
  body .m-xl {
    margin: 3rem !important;
  }
  body .mt-s {
    margin-top: 0.5rem !important;
  }
  body .mt-m {
    margin-top: 1rem !important;
  }
  body .mt-l {
    margin-top: 2rem !important;
  }
  body .mt-xl {
    margin-top: 3rem !important;
  }
  body .mb-s {
    margin-bottom: 0.5rem !important;
  }
  body .mb-m {
    margin-bottom: 1rem !important;
  }
  body .mb-l {
    margin-bottom: 2rem !important;
  }
  body .mb-xl {
    margin-bottom: 3rem !important;
  }
  body .ml-s {
    margin-left: 0.5rem !important;
  }
  body .ml-m {
    margin-left: 1rem !important;
  }
  body .ml-l {
    margin-left: 2rem !important;
  }
  body .ml-xl {
    margin-left: 3rem !important;
  }
  body .mr-s {
    margin-right: 0.5rem !important;
  }
  body .mr-m {
    margin-right: 1rem !important;
  }
  body .mr-l {
    margin-right: 2rem !important;
  }
  body .mr-xl {
    margin-right: 3rem !important;
  }
  body .mx-s {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
  }
  body .mx-m {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
  body .mx-l {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }
  body .mx-xl {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }
  body .my-s {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
  body .my-m {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  body .my-l {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }
  body .my-xl {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
  body .p-0 {
    padding: 0 !important;
  }
  body .p-s {
    padding: 0.5rem !important;
  }
  body .p-m {
    padding: 1rem !important;
  }
  body .p-l {
    padding: 2rem !important;
  }
  body .p-xl {
    padding: 3rem !important;
  }
  body .pt-s {
    padding-top: 0.5rem !important;
  }
  body .pt-m {
    padding-top: 1rem !important;
  }
  body .pt-l {
    padding-top: 2rem !important;
  }
  body .pt-xl {
    padding-top: 3rem !important;
  }
  body .pb-s {
    padding-bottom: 0.5rem !important;
  }
  body .pb-m {
    padding-bottom: 1rem !important;
  }
  body .pb-l {
    padding-bottom: 2rem !important;
  }
  body .pb-xl {
    padding-bottom: 3rem !important;
  }
  body .pl-s {
    padding-left: 0.5rem !important;
  }
  body .pl-m {
    padding-left: 1rem !important;
  }
  body .pl-l {
    padding-left: 2rem !important;
  }
  body .pl-xl {
    padding-left: 3rem !important;
  }
  body .pr-s {
    padding-right: 0.5rem !important;
  }
  body .pr-m {
    padding-right: 1rem !important;
  }
  body .pr-l {
    padding-right: 2rem !important;
  }
  body .pr-xl {
    padding-right: 3rem !important;
  }
  body .px-s {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
  body .px-m {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  body .px-l {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  body .px-xl {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
  body .py-s {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }
  body .py-m {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  body .py-l {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
  body .py-xl {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

body .t-center {
  text-align: center !important;
}
body .t-left {
  text-align: left !important;
}
body .t-right {
  text-align: right !important;
}
@media (min-width: 768px) {
  body .t-center-p {
    text-align: center !important;
  }
  body .t-left-p {
    text-align: left !important;
  }
  body .t-right-p {
    text-align: right !important;
  }
}
body .font-weight-bold {
  font-weight: bold;
}
body .font-weight-normal {
  font-weight: normal;
}
body .underline {
  text-decoration: underline;
}
body .underline-none {
  text-decoration: none;
}
body .t-xs {
  font-size: 1rem;
}
body .t-s {
  font-size: 1.6rem;
}
body .t-m {
  font-size: 2rem;
}
body .t-l {
  font-size: 2.5rem;
}
body .t-xl {
  font-size: 3rem;
}
@media (min-width: 768px) {
  body .t-xs {
    font-size: 1.6rem;
  }
  body .t-s {
    font-size: 2rem;
  }
  body .t-m {
    font-size: 2.5rem;
  }
  body .t-l {
    font-size: 3rem;
  }
  body .t-xl {
    font-size: 4rem;
  }
}

@media (max-width: 767.98px) {
  body.gnav-open {
    overflow-y: hidden;
  }
}

#header {
  position: absolute;
  top: 0;
}
#header ul li {
  display: inline-block;
  padding: 30px 20px 25px 28px;
}
#header ul li a {
  color: #2d2d2d;
}
@media (min-width: 768px) {
  #header ul li a {
    color: #2d2d2d;
  }
}
@media (max-width: 767.98px) {
  #header nav {
    z-index: -10;
    position: fixed;
    top: 0;
    left: 0;
    color: #ffffff;
    background: #2d2d2d;
    width: 100%;
  }
  #header nav ul {
    margin: 0 auto;
    margin-top: 15%;
    padding: 0;
    width: 100%;
    list-style: none;
    padding: 0;
  }
  #header nav ul > li, #header nav ul > dt, #header nav ul > dd {
    margin: 0;
  }
  #header nav ul li {
    padding: 20px 28px;
    display: block;
    transition: 0.4s all;
  }
  #header nav ul li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
  }
}
#header nav.open {
  z-index: 10;
}
@media (max-width: 767.98px) {
  #header .btn-gnavi {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 44px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
  }
  #header .btn-gnavi span {
    position: absolute;
    left: 5px;
    width: 40px;
    height: 4px;
    background: #2d2d2d;
    border-radius: 4px;
  }
  #header .btn-gnavi span:nth-child(1) {
    top: 5px;
  }
  #header .btn-gnavi span:nth-child(2) {
    top: 20px;
  }
  #header .btn-gnavi span:nth-child(3) {
    bottom: 5px;
  }
  #header .btn-gnavi.open {
    background-color: transparent;
  }
  #header .btn-gnavi.open span {
    background: #ffffff;
  }
  #header .btn-gnavi, #header .btn-gnavi span {
    display: inline-block;
    transition: all 0.5s;
    box-sizing: border-box;
  }
}
@media (min-width: 768px) {
  #header {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 99;
  }
}
@media (max-width: 767.98px) {
  #header .btn-gnavi {
    z-index: 11;
  }
}

#global-navi {
  background-color: #2d2d2d;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}
@media (min-width: 768px) {
  #global-navi {
    background-color: transparent;
    text-align: right;
    position: relative;
    width: 80%;
  }
}

@media (max-width: 767.98px) {
  #header.fade nav {
    opacity: 0;
    transition: opacity 0.6s ease, visibility 0.6s ease;
  }
  #header.fade nav.open {
    opacity: 1;
  }
}

@media (max-width: 767.98px) {
  #header.right nav {
    transform: translateX(100%);
    transition: all 0.6s;
  }
  #header.right nav.open {
    transform: translateX(0%);
  }
}

@media (max-width: 767.98px) {
  #header.left {
    right: 0;
  }
  #header.left .btn-gnavi {
    left: 20px;
    right: auto;
    transition: all 0.6s;
  }
  #header.left .btn-gnavi.open {
    left: 81%;
  }
  #header.left nav {
    transform: translateX(-100%);
    transition: all 0.6s;
  }
  #header.left nav.open {
    transform: translateX(0%);
  }
}

@media (max-width: 767.98px) {
  #header.top nav {
    transform: translateY(-100%);
    transition: all 0.6s;
  }
  #header.top nav.open {
    transform: translateY(0%);
  }
}

@media (max-width: 767.98px) {
  #header.scroll nav.open {
    height: 80%;
    overflow: scroll;
  }
}

@media (min-width: 768px) {
  #header.ko-menu h1.main-logo {
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
  }
  #header.ko-menu #global-navi {
    width: 100%;
  }
  #header.ko-menu ul.menu > li > a:hover {
    font-weight: bold;
  }
  #header.ko-menu ul.menu > li ul {
    display: none;
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #2d2d2d;
    left: 0;
    top: 80%;
  }
  #header.ko-menu ul.menu > li > ul > li > a {
    color: #ffffff;
  }
  #header.ko-menu ul.menu li:hover a + ul {
    display: block;
  }
}

@media (max-width: 767.98px) {
  #header.ko-acc ul.menu > li {
    position: relative;
  }
  #header.ko-acc ul.menu > li > ul {
    display: none;
    margin-top: 0;
  }
  #header.ko-acc ul.menu > li > ul.open {
    display: block;
  }
  #header.ko-acc .gnav-acc a {
    width: 90%;
  }
  #header.ko-acc .gnav-acc span::after {
    content: "＋";
    position: absolute;
    right: 20px;
    top: 20px;
    border: 1px solid #ffffff;
    width: 20px;
    height: 20px;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
    transition: all 0.6s;
    box-sizing: content-box;
  }
  #header.ko-acc .gnav-acc span.open::after {
    content: "－";
    transform: rotate(360deg);
  }
}

#btn01.open span:nth-of-type(1) {
  transform: translateY(15px) rotate(45deg);
}
#btn01.open span:nth-of-type(2) {
  opacity: 0;
}
#btn01.open span:nth-of-type(3) {
  transform: translateY(-15px) rotate(-45deg);
}

#btn02.open {
  transform: rotate(360deg);
}
#btn02.open span:nth-of-type(1) {
  transform: translateY(15px) rotate(-45deg);
}
#btn02.open span:nth-of-type(2) {
  transform: translateY(0) rotate(45deg);
}
#btn02.open span:nth-of-type(3) {
  opacity: 0;
}

#btn03.open span:nth-of-type(1) {
  transform: translateY(15px) rotate(-45deg);
}
#btn03.open span:nth-of-type(2) {
  left: 50%;
  opacity: 0;
  animation: active-btn03-bar02 0.8s forwards;
}
#btn03.open span:nth-of-type(3) {
  transform: translateY(-15px) rotate(45deg);
}
@keyframes active-btn03-bar02 {
  100% {
    height: 0;
  }
}
#btn04 span:nth-of-type(1) {
  animation: btn04-bar01 0.75s forwards;
}
#btn04 span:nth-of-type(2) {
  transition: all 0.25s 0.25s;
  opacity: 1;
}
#btn04 span:nth-of-type(3) {
  animation: btn04-bar03 0.75s forwards;
}
#btn04.open span:nth-of-type(1) {
  animation: active-btn04-bar01 0.75s forwards;
}
#btn04.open span:nth-of-type(2) {
  opacity: 0;
}
#btn04.open span:nth-of-type(3) {
  animation: active-btn04-bar03 0.75s forwards;
}
@keyframes btn04-bar01 {
  0% {
    transform: translateY(15px) rotate(45deg);
  }
  50% {
    transform: translateY(15px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes btn04-bar03 {
  0% {
    transform: translateY(-15px) rotate(-45deg);
  }
  50% {
    transform: translateY(-15px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes active-btn04-bar01 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(15px) rotate(0);
  }
  100% {
    transform: translateY(15px) rotate(45deg);
  }
}
@keyframes active-btn04-bar03 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-15px) rotate(0);
  }
  100% {
    transform: translateY(-15px) rotate(-45deg);
  }
}
#btn05.open span:nth-of-type(1) {
  transform: translateY(15px) rotate(-315deg);
}
#btn05.open span:nth-of-type(2) {
  opacity: 0;
}
#btn05.open span:nth-of-type(3) {
  transform: translateY(-15px) rotate(315deg);
}

#btn06::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  content: "";
  width: 64px;
  height: 64px;
  margin: -36px 0 0 -36px;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0);
  transition: all 0.75s;
  box-sizing: content-box;
}
#btn06.open span:nth-of-type(1) {
  transform: translateY(15px) rotate(45deg);
}
#btn06.open span:nth-of-type(2) {
  left: 60%;
  opacity: 0;
  animation: active-btn06-bar02 0.8s forwards;
}
#btn06.open span:nth-of-type(3) {
  transform: translateY(-15px) rotate(-45deg);
}
#btn06.open::after {
  border: 4px solid #ffffff;
}
@keyframes active-btn06-bar02 {
  100% {
    height: 0;
  }
}
#btn07::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  content: "";
  width: 64px;
  height: 64px;
  margin: -36px 0 0 -36px;
  border-radius: 50%;
  border: 4px solid transparent;
  transition: all 0.75s;
  box-sizing: content-box;
}
#btn07.open span:nth-of-type(1) {
  transform: translateY(15px) rotate(-45deg);
}
#btn07.open span:nth-of-type(2) {
  left: 60%;
  opacity: 0;
  animation: active-btn19-bar02 0.8s forwards;
}
#btn07.open span:nth-of-type(3) {
  transform: translateY(-15px) rotate(45deg);
}
#btn07.open::after {
  animation: active-btn19 0.7s 0.25s forwards;
}
@keyframes active-btn19-bar02 {
  100% {
    height: 0;
  }
}
@keyframes active-btn19 {
  0% {
    border-color: transparent;
    transform: rotate(0);
  }
  25% {
    border-color: transparent #ffffff transparent transparent;
  }
  50% {
    border-color: transparent #ffffff #ffffff transparent;
  }
  75% {
    border-color: transparent #ffffff #ffffff #ffffff;
  }
  100% {
    border-color: #ffffff;
    transform: rotate(-680deg);
  }
}
#btn08.open span:nth-of-type(1), #btn08.open span:nth-of-type(3) {
  width: 20px;
}
#btn08.open span:nth-of-type(1) {
  transform: translate(-3px, 9px) rotate(-45deg);
}
#btn08.open span:nth-of-type(3) {
  transform: translate(-3px, -9px) rotate(45deg);
}

#btn09.open span:nth-of-type(1), #btn09.open span:nth-of-type(3) {
  width: 20px;
}
#btn09.open span:nth-of-type(1) {
  transform: translate(23px, 9px) rotate(45deg);
}
#btn09.open span:nth-of-type(3) {
  transform: translate(23px, -9px) rotate(-45deg);
}

#humburger {
  padding: 0 20px;
}
#humburger ul {
  list-style: none;
  padding: 0;
}
#humburger ul > li, #humburger ul > dt, #humburger ul > dd {
  margin: 0;
}
#humburger .btn-gnavi02 {
  position: relative;
  width: 40px;
  height: 34px;
  cursor: pointer;
  margin: 5px 10px;
}
#humburger .btn-gnavi02 span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2d2d2d;
  border-radius: 4px;
}
#humburger .btn-gnavi02 span:nth-child(1) {
  top: 0;
}
#humburger .btn-gnavi02 span:nth-child(2) {
  top: 15px;
}
#humburger .btn-gnavi02 span:nth-child(3) {
  bottom: 0;
}
#humburger .btn-gnavi02, #humburger .btn-gnavi02 span {
  display: inline-block;
  transition: all 0.5s;
  box-sizing: border-box;
}
#humburger #btn06.open::after {
  border: 4px solid #2d2d2d;
}
#humburger #btn07.open::after {
  animation: active-btn19-sample 0.7s 0.25s forwards;
}
@keyframes active-btn19-sample {
  0% {
    border-color: transparent;
    transform: rotate(0);
  }
  25% {
    border-color: transparent #2d2d2d transparent transparent;
  }
  50% {
    border-color: transparent #2d2d2d #2d2d2d transparent;
  }
  75% {
    border-color: transparent #2d2d2d #2d2d2d #2d2d2d;
  }
  100% {
    border-color: #2d2d2d;
    transform: rotate(-680deg);
  }
}
.slider {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  position: relative;
  max-width: 1200px;
}
.slider .slide-arrow {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  left: auto;
  display: none !important;
  max-width: 34px;
  cursor: pointer;
  transition: 0.3s;
}
.slider .slide-arrow:hover {
  opacity: 0.5;
}
.slider .slide-arrow.prev-arrow {
  left: -50px;
}
.slider .slide-arrow.next-arrow {
  right: -50px;
}
@media (min-width: 768px) {
  .slider .slide-arrow {
    display: inline !important;
  }
}
.slider button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.slider .slide-dots {
  text-align: center;
  padding: 0;
}
.slider .slide-dots li {
  display: inline-block;
  margin: 0 15px;
}
.slider .slide-dots li button {
  position: relative;
  text-indent: -9999px;
  cursor: pointer;
  transition: 0.3s;
}
.slider .slide-dots li button:hover {
  opacity: 0.5;
}
.slider .slide-dots li button:before {
  content: "●";
  font-size: 2rem;
  text-indent: 0px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  color: #cccccc;
}
.slider .slide-dots li.slick-active button:before {
  color: #2d2d2d;
}
.slider img {
  height: auto;
  width: 100%;
}
.slider .slide-img {
  position: relative;
}
.slider .slide-img p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
}

.slider01 .slide-img img {
  height: 78vw;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .slider01 .slide-img img {
    height: auto;
    -o-object-fit: fill;
       object-fit: fill;
  }
}

.slider03 .slide-img {
  padding: 0 5px;
}

.s_01 .accordion_one {
  width: 100%;
  margin: 0 auto;
}
.s_01 .accordion_one .accordion_header {
  background-color: #cccccc;
  color: #ffffff;
  padding: 20px 15% 20px 2rem;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition-duration: 0.2s;
}
.s_01 .accordion_one .accordion_header:hover {
  opacity: 0.8;
}
.s_01 .accordion_one .accordion_header .i_box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 5%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  transform: rotate(45deg);
  transform-origin: center center;
  transition-duration: 0.2s;
}
.s_01 .accordion_one .accordion_header .i_box .one_i {
  display: block;
  width: 18px;
  height: 18px;
  transform: rotate(45deg);
  transform-origin: center center;
  transition-duration: 0.2s;
  position: relative;
}
.s_01 .accordion_one .accordion_header .i_box .one_i:before, .s_01 .accordion_one .accordion_header .i_box .one_i:after {
  display: flex;
  content: "";
  background-color: #ffffff;
  border-radius: 10px;
  width: 18px;
  height: 4px;
  position: absolute;
  top: 7px;
  left: 0;
  transform: rotate(0deg);
  transform-origin: center center;
}
.s_01 .accordion_one .accordion_header .i_box .one_i:before {
  width: 4px;
  height: 18px;
  top: 0;
  left: 7px;
}
.s_01 .accordion_one .accordion_header.stay .i_box {
  transform: rotate(0deg);
}
.s_01 .accordion_one .accordion_header.stay .i_box .one_i {
  transform: rotate(0deg);
}
.s_01 .accordion_one .accordion_header.stay .i_box .one_i:before {
  content: none;
}
.s_01 .accordion_one .accordion_header.stay.open .i_box {
  transform: rotate(315deg);
}
.s_01 .accordion_one .accordion_header.stay.open .i_box .one_i {
  transform: rotate(45deg);
}
.s_01 .accordion_one .accordion_header.stay.open .i_box .one_i:before {
  content: "";
}
.s_01 .accordion_one .accordion_header.stay.open .i_box .one_i:after {
  transform: rotate(0deg);
}
.s_01 .accordion_one .accordion_header.open .i_box {
  transform: rotate(-360deg);
}
.s_01 .accordion_one .accordion_header.open .i_box .one_i:before {
  content: none;
}
.s_01 .accordion_one .accordion_header.open .i_box .one_i:after {
  transform: rotate(-45deg);
}
.s_01 .accordion_one .accordion_inner {
  display: none;
  padding: 30px 30px;
  border-left: 2px solid #cccccc;
  border-right: 2px solid #cccccc;
  border-bottom: 2px solid #cccccc;
  box-sizing: border-box;
}
.s_01 .accordion_one .accordion_inner.stay {
  display: block;
}
.s_01 .accordion_one .accordion_inner p.txt_a_ac {
  margin: 0;
}

#tab ul, #tab dl {
  list-style: none;
  padding: 0;
}
#tab ul > li, #tab ul > dt, #tab ul > dd, #tab dl > li, #tab dl > dt, #tab dl > dd {
  margin: 0;
}
#tab .tab-area {
  background-color: #2d2d2d;
  cursor: pointer;
}
#tab .tab-area .tab {
  text-align: center;
  color: #ffffff;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #2d2d2d;
  padding: 1rem;
  line-height: 1;
}
#tab .tab-area .tab.active {
  background-color: #cccccc;
  color: #2d2d2d;
  border: none;
}
#tab .content-area .content {
  display: none;
}
#tab .content-area .content.show {
  margin-top: 3rem;
  display: block;
}

#form input.reset, #form select.reset {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none transparent;
  background-clip: padding-box;
  color: inherit;
  font-size: inherit;
  vertical-align: middle;
  box-sizing: border-box;
}
#form input.reset::-ms-clear, #form select.reset::-ms-clear {
  display: none;
}
#form input.reset::-ms-reveal, #form select.reset::-ms-reveal {
  display: none;
}
#form input.reset::-ms-expand, #form select.reset::-ms-expand {
  display: none;
}
#form .lead-form {
  text-align: center;
}
#form form {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
#form .item {
  margin-bottom: 40px;
}
#form .lead-form {
  text-align: center;
}
#form .label {
  margin: 0;
  margin-right: 20px;
  border-left: solid 3px #ff0000;
  padding-left: 10px;
}
#form .label02 {
  margin: 0;
  margin-right: 20px;
  border-left: solid 3px #cccccc;
  padding-left: 10px;
}
#form .inputs {
  width: 100%;
}
#form input[type=text], #form input[type=email] {
  border: solid 1px #2d2d2d;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#form input textarea {
  border: solid 1px #2d2d2d;
  border-radius: 5px;
  padding: 10px;
  height: 160px;
}
#form input[type=submit] {
  background: #ff0000;
  border: none;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 0 5px;
}
#form input[type=reset] {
  background: #2d2d2d;
  border: none;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 0 5px;
}
#form select {
  border: solid 1px #2d2d2d;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#form .btn-area {
  text-align: center;
}

#form .img-radio label span:before {
  content: "";
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  background-image: url(../images/form-radio-img.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 5px;
  transition-duration: 0.2s;
}
#form .img-radio label.checked span::before {
  background-image: url(../images/form-radio-img-on.png);
}
#form .img-radio input[type=radio] {
  display: none;
}

#form .img-check label span::before {
  content: "";
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  background-image: url(../images/form-check-img.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 5px;
  transition-duration: 0.2s;
}
#form .img-check label.checked span::before {
  background-image: url(../images/form-check-img-on.png);
}
#form .img-check input[type=checkbox] {
  display: none;
}

#form .ios-check input[type=checkbox] {
  display: none;
}
#form .ios-check input[type=checkbox] + label {
  cursor: pointer;
  display: inline-block;
  box-sizing: content-box;
  position: relative;
  width: 60px;
  height: 30px;
  background-color: #ffffff;
  border: 2px solid #cccccc;
  border-radius: 30px;
}
#form .ios-check input[type=checkbox] + label:before {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  left: 0;
  top: 0;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 2px 2px 4px gray;
  transition: all 0.3s ease;
}
#form .ios-check input[type=checkbox]:checked + label {
  background-color: #78D376;
  border-color: #78D376;
}
#form .ios-check input[type=checkbox]:checked + label:before {
  transform: translateX(100%);
  box-shadow: none;
  transition: all 0.3s ease;
}

#form .android-check input[type=checkbox] {
  display: none;
}
#form .android-check input[type=checkbox] + label {
  cursor: pointer;
  display: inline-block;
  box-sizing: content-box;
  position: relative;
  width: 40px;
  height: 10px;
  background-color: #ffffff;
  border: 2px solid #cccccc;
  border-radius: 10px;
}
#form .android-check input[type=checkbox] + label:before {
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  left: 0;
  top: -5px;
  transform: translateX(-10%);
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #cccccc;
  transition: all 0.3s ease;
}
#form .android-check input[type=checkbox]:checked + label {
  background-color: #0078db;
  border-color: #0078db;
}
#form .android-check input[type=checkbox]:checked + label:before {
  left: auto;
  right: auto;
  transform: translateX(110%);
  transition: all 0.3s ease;
  border-color: #0078db;
}

#form .file-style label {
  display: inline-block;
  position: relative;
  background: #2d2d2d;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 18px;
  border-radius: 4px;
  transition: all 0.3s;
}
#form .file-style label:hover {
  background: #2d2d2d;
  transition: all 0.4s;
}
#form .file-style label input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}
#form .file-style .filename {
  font-weight: 16px;
  margin: 0 0 0 10px;
}/*# sourceMappingURL=common.css.map */