@charset "utf-8";
/* CSS Document */

html {
  font-size: 62.5%;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
}
a:hover {
  opacity: 0.7;
}
div {
  line-height: 1;
}
*, *::before, *::after {
  box-sizing: border-box;
}

p {
  line-height: 1.6;
}
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 767.98px) {
.wrapper {
    max-width: 90%;
  }
}
@media (min-width: 768px) {
.wrapper {
    max-width: 870px;
  }
}

.flex {
  display: flex;
}
.flex.wrap {
  flex-wrap: wrap;
}
.flex.no-wrap {
  flex-wrap: nowrap;
}
.flex.justify-between {
  justify-content: space-between;
}
.w-50 {
  width: 50%;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.inline-block {
  display: inline-block;
}
/* SP: 〜767.98px */
@media (max-width: 767.98px) {
  br.sp {
    display: block;
  }
  br.pc,
  br.tab {
    display: none;
  }
}

/* TAB: 768px〜1024.98px */
@media (min-width: 768px) and (max-width: 1024.98px) {
  br.tab {
    display: block;
  }
  br.sp,
  br.pc {
    display: none;
  }
}

/* PC: 1025px〜 */
@media (min-width: 1025px) {
  br.pc {
    display: block;
  }
  br.sp,
  br.tab {
    display: none;
  }
}


.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.flex.wrap {
  flex-wrap: wrap;
}
.flex.flex-end {
  justify-content: flex-end;
}
.flex.flex-center {
  justify-content: center;
}
.flex.space-around {
  justify-content: space-around;
}
.flex.space-between {
  justify-content: space-between;
}
.flex.align-start {
  align-items: flex-start;
}
.flex.align-end {
  align-items: flex-end;
}
.flex.align-center{
  align-items: center;
}
.flex.align-baseline {
  align-items: baseline;
}
@media (min-width: 768px) {
.flex.wrap-p {
    flex-wrap: wrap;
  }
.flex.flex-end-p {
    justify-content: flex-end;
  }
.flex.flex-center-p {
    justify-content: center;
  }
.flex.space-around-p {
    justify-content: space-around;
  }
.flex.space-between-p {
    justify-content: space-between;
  }
.flex.align-start-p {
    align-items: flex-start;
  }
.flex.align-end-p{
    align-items: flex-end;
  }
.flex.align-center-p {
    align-items: center;
  }
.flex.align-center-p {
    align-items: baseline;
  }
}
ul.flex, body dl.flex {
  list-style: none;
  padding: 0;
}

.w-100 {
  width: 100%;
}
.col-2 {
  width: calc(100% / 2);
}
.col-3 {
  width: calc(100% / 3);
}
.col-4 {
  width: calc(100% / 4);
}
.col-5 {
  width: calc(100% / 5);
}
.col-2-flex {
  width: calc((100% - 2.5%) / 2);
}
.col-3-flex {
  width: calc((100% - 5%) / 3);
}
.col-4-flex {
  width: calc((100% - 7.5%) / 4);
}
.col-5-flex {
  width: calc((100% - 10%) / 5);
}
@media (max-width: 767.98px) {
.w-100-s {
    width: 100%;
  }
.col-2-s {
    width: calc(100% / 2);
  }
.col-3-s {
    width: calc(100% / 3);
  }
.col-4-s {
    width: calc(100% / 4);
  }

.col-5-s {
    width: calc(100% / 5);
  }
.col-2-flex-s {
    width: calc((100% - 2.5%) / 2);
  }
.col-3-flex-s {
    width: calc((100% - 5%) / 3);
  }
.col-4-flex-s {
    width: calc((100% - 7.5%) / 4);
  }
.col-5-flex-s {
    width: calc((100% - 10%) / 5);
  }
}
@media (min-width: 768px) {
.w-100-p {
    width: 100%;
  }
.col-2-p {
    width: calc(100% / 2);
  }
.col-3-p {
    width: calc(100% / 3);
  }
.col-4-p {
    width: calc(100% / 4);
  }
.col-5-p {
    width: calc(100% / 5);
  }
.col-2-flex-p {
    width: calc((100% - 2.5%) / 2);
  }
.col-3-flex-p {
    width: calc((100% - 5%) / 3);
  }
.col-4-flex-p {
    width: calc((100% - 7.5%) / 4);
  }
.col-5-flex-p {
    width: calc((100% - 10%) / 5);
  }
}

.m-0 {
  margin: 0 !important;
}
.m-s {
  margin: 0.5rem !important;
}
.m-m {
  margin: 1rem !important;
}
.m-l {
  margin: 2rem !important;
}
.m-xl {
  margin: 3rem !important;
}
.mt-s {
  margin-top: 0.5rem !important;
}
.mt-m {
  margin-top: 1rem !important;
}
.mt-l {
  margin-top: 2rem !important;
}
.mt-xl {
  margin-top: 3rem !important;
}
.mb-s {
  margin-bottom: 0.5rem !important;
}
.mb-m {
  margin-bottom: 1rem !important;
}
.mb-l {
  margin-bottom: 2rem !important;
}
.mb-xl {
  margin-bottom: 3rem !important;
}
.ml-s {
  margin-left: 0.5rem !important;
}
.ml-m {
  margin-left: 1rem !important;
}
.ml-l {
  margin-left: 2rem !important;
}
.ml-xl {
  margin-left: 3rem !important;
}
.mr-s {
  margin-right: 0.5rem !important;
}
.mr-m {
  margin-right: 1rem !important;
}
.mr-l {
  margin-right: 2rem !important;
}
.mr-xl {
  margin-right: 3rem !important;
}
.mx-s {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}
.mx-m {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}
.mx-l {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}
.mx-xl {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}
.my-s {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}
.my-m {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
.my-l {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}
.my-xl {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}
.p-0 {
  padding: 0 !important;
}
.p-s {
  padding: 0.5rem !important;
}
.p-m {
  padding: 1rem !important;
}
.p-l {
  padding: 2rem !important;
}
.p-xl {
  padding: 3rem !important;
}
.pt-s {
  padding-top: 0.5rem !important;
}
.pt-m {
  padding-top: 1rem !important;
}
.pt-l {
  padding-top: 2rem !important;
}
.pt-xl {
  padding-top: 3rem !important;
}
.pb-s {
  padding-bottom: 0.5rem !important;
}
.pb-m {
  padding-bottom: 1rem !important;
}
.pb-l {
  padding-bottom: 2rem !important;
}
.pb-xl {
  padding-bottom: 3rem !important;
}
.pl-s {
  padding-left: 0.5rem !important;
}
.pl-m {
  padding-left: 1rem !important;
}
.pl-l {
  padding-left: 2rem !important;
}
.pl-xl {
  padding-left: 3rem !important;
}
.pr-s {
  padding-right: 0.5rem !important;
}
.pr-m {
  padding-right: 1rem !important;
}
.pr-l {
  padding-right: 2rem !important;
}
.pr-xl {
  padding-right: 3rem !important;
}
.px-s {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}
.px-m {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.px-l {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
.px-xl {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}
.py-s {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}
.py-m {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.py-l {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}
.py-xl {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
@media (min-width: 768px) {
.m-0 {
    margin: 0 !important;
  }
.m-s {
    margin: 0.5rem !important;
  }
.m-m {
    margin: 1rem !important;
  }
.m-l {
    margin: 2rem !important;
  }
.m-xl {
    margin: 3rem !important;
  }
.mt-s {
    margin-top: 0.5rem !important;
  }
.mt-m {
    margin-top: 1rem !important;
  }
.mt-l {
    margin-top: 2rem !important;
  }
.mt-xl {
    margin-top: 3rem !important;
  }
.mb-s {
    margin-bottom: 0.5rem !important;
  }
.mb-m {
    margin-bottom: 1rem !important;
  }
.mb-l {
    margin-bottom: 2rem !important;
  }
.mb-xl {
    margin-bottom: 3rem !important;
  }
.ml-s {
    margin-left: 0.5rem !important;
  }
.ml-m {
    margin-left: 1rem !important;
  }
.ml-l {
    margin-left: 2rem !important;
  }
.ml-xl {
    margin-left: 3rem !important;
  }
.mr-s {
    margin-right: 0.5rem !important;
  }
.mr-m {
    margin-right: 1rem !important;
  }
.mr-l {
    margin-right: 2rem !important;
  }
.mr-xl {
    margin-right: 3rem !important;
  }
.mx-s {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
  }
.mx-m {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
.mx-l {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }
.mx-xl {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }
.my-s {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
.my-m {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
.my-l {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }
.my-xl {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
.p-0 {
    padding: 0 !important;
  }
.p-s {
    padding: 0.5rem !important;
  }
.p-m {
    padding: 1rem !important;
  }
.p-l {
    padding: 2rem !important;
  }
.p-xl {
    padding: 3rem !important;
  }
.pt-s {
    padding-top: 0.5rem !important;
  }
.pt-m {
    padding-top: 1rem !important;
  }
.pt-l {
    padding-top: 2rem !important;
  }
.pt-xl {
    padding-top: 3rem !important;
  }
.pb-s {
    padding-bottom: 0.5rem !important;
  }
.pb-m {
    padding-bottom: 1rem !important;
  }
.pb-l {
    padding-bottom: 2rem !important;
  }
.pb-xl {
    padding-bottom: 3rem !important;
  }
.pl-s {
    padding-left: 0.5rem !important;
  }
.pl-m {
    padding-left: 1rem !important;
  }
.pl-l {
    padding-left: 2rem !important;
  }
.pl-xl {
    padding-left: 3rem !important;
  }
.pr-s {
    padding-right: 0.5rem !important;
  }
.pr-m {
    padding-right: 1rem !important;
  }
.pr-l {
    padding-right: 2rem !important;
  }
.pr-xl {
    padding-right: 3rem !important;
  }
.px-s {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
.px-m {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
.px-l {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
.px-xl {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
.py-s {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }
.py-m {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
.py-l {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
.py-xl {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.t-center {
  text-align: center !important;
}
.t-left {
  text-align: left !important;
}
.t-right {
  text-align: right !important;
}
@media (min-width: 768px) {
.t-center-p {
    text-align: center !important;
  }
.t-left-p {
    text-align: left !important;
  }
.t-right-p {
    text-align: right !important;
  }
}
.font-weight-bold {
  font-weight: bold;
}
.font-weight-normal {
  font-weight: normal;
}
.underline {
  text-decoration: underline;
}
.underline-none {
  text-decoration: none;
}
.t-xs {
  font-size: 1rem;
}
.t-s {
  font-size: 1.6rem;
}
.t-m {
  font-size: 2rem;
}
.t-l {
  font-size: 2.5rem;
}
.t-xl {
  font-size: 3rem;
}
@media (min-width: 768px) {
.t-xs {
    font-size: 1.6rem;
  }
.t-s {
    font-size: 2rem;
  }
.t-m {
    font-size: 2.5rem;
  }
.t-l {
    font-size: 3rem;
  }
.t-xl {
    font-size: 4rem;
  }
}
