@charset "utf-8";
/* CSS Document */

.office-sec {
  
}
.office-sec .office-sec-cnt {
  margin-top: 5.2083vw;
}
.office-sec .office-sec-cnt h2 {
      font-size: 2.6041vw;
      transform: skewX(-10deg);
}
.office-sec .office-sec-lead {
  margin-top: 100px;
}
.office-sec .office-sec-img {
  
}
.office-detail-cnt {
    width: 100%;
    padding: 6rem 0;
    margin-top: 50px;
    text-align: left;
    background-color: #fbf6f4;
    background-image: url(../img/common/bg_hexagon.png);
    background-repeat: no-repeat;
    background-position: center center;
    }
.office-detail-in {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.office-sec .detail-cnt {

} 
.office-sec .detail-item {
width: calc(100% / 3 - 20px);
}
.office-sec .item-01 {
  position: relative;
  display: flex;
  gap: 20px;
 
}

.office-sec .detail-item:nth-child(n+4) {
   margin-top: 5rem;
}

.office-sec .item-img {
  width: 11.5625vw;
  
}
.office-sec .item-txt h3 {
  border: 1px solid #1a1a1a;
  padding: 10px 15px;
  text-align: center;
}
.office-sec .item-txt p {
  padding-top: 1rem;
}