@charset "utf-8";
/* CSS Document */
.news-sec {
    position: relative;
}
.news-sec .btn-cnt {
  margin: 0!important;
  padding: 100px 0;
  background-color: #fbf6f4;
}
.news-sec .btn-cnt > .btn-01 {
border: 1px solid #808080!important;
}
.news-bg {
  position: relative;
  width: 100%;
  text-align: center;
  background-color: #fbf6f4;
}

.news-bg .btn-cnt .btn-01{
  border: 0.5px solid #1a1a1a;
}

.news-bg-in {
  position: absolute;
  top: -12vw;  
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 2;
}
.news-outer {
  display: flex;
  justify-content: center;
  align-items: center;  /* 縦中央 */
}

.news-wrapper {
  text-align: left;
}

.news-wrapper .news-ttl {
  font-size: 2rem;
  text-align: left;
  padding: 20px 50px;
  border-bottom: 2px solid #000;
  
}
.news-wrapper .news-txt {
  text-align: left;
  padding: 50px;
}

#article .news {
position: relative;
padding-bottom: 50vw;  
}
#article .news .news-wrap{
position: absolute;
top: 30%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 999;
}


.Pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}
.Pagination-Item-Link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 45px;
  height: 45px;
  background: #fff;
  border: solid 2px #111;
  font-size: 14px;
  color: #111;
  font-weight: bold;
  transition: all 0.15s linear;
}
.Pagination-Item-Link-Icon {
  width: 20px;
}
.Pagination-Item-Link.isActive {
  background: #111;
  color: #fff;
  pointer-events: none;
}
.Pagination-Item-Link:not(.isActive):hover {
  background: #111;
  color: #fff;
}
.Pagination > * + * {
  margin-left: 12px;
}


