@charset "utf-8";
/* CSS Document */
.news-sec {
    position: relative;
}
.news-sec .btn-cnt {
  margin: 0!important;
  padding: 50px 0;
  background-color: #fbf6f4;
}
.news-sec-cnt {

}
.news-bg {
  position: relative;
  width: 100%;
  text-align: center;
  background-color: #fbf6f4;
}
.news-bg .btn-cnt {
/*  margin-top: 100px;*/

}
.news-bg .btn-cnt .btn-01{
  border: 0.5px solid #1a1a1a;
}

.news-bg-in {
  position: absolute;
  top: -12vw;  
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 50px;
  z-index: 2;
}
.news-outer {
  display: flex;
  justify-content: center;
  align-items: center;  /* 縦中央 */
}

.news-wrapper {
  text-align: left;
  padding: 20px 0;
}

.news-wrapper .news-ttl {
  font-size: 1.5rem;
  text-align: left;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #000;
  
}
.news-wrapper .news-txt {
  text-align: left;
  padding-top: 1.5rem;
}



.clear{
	clear:both;
}

